html {
  overflow-x: hidden;
  background-color: #33363F; /* #424A55; */
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  position: relative;
  margin: 0 8px;
  min-height: 100vh;
}

